# Editable Mode & Build Artifacts
*.egg-info/
.eggs/
build/
dist/

# Virtual Environments
venv/
.venv/

# Python Bytecode Caches
__pycache__/
*.py[cod]

#docs excluded due to GDPR
docs/manuals/Cargo_Tanks.pdf
docs/snapshots
docs/various